<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speach To Text</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
</head>
<body>
    <div id="menu_esquerdo" class="menu_lateral"></div>
    <div id="wrapper">
        <img src="" id="caderno" alt="">
        <div id="folhas">
            <div id="folha_esquerda">
                <textarea name="nenhum" class="input_de_texto" placeholder="Adicione seu texto"></textarea>
            </div>
            <div id="folha_direita">
                <button id="borracha"><img src="" id="imagem_do_botao_de_apagar" alt=""></button>
                <textarea name="nenhotro" class="input_de_texto" id="output" placeholder="Clique no botao verde para falar"></textarea>
            </div>
        </div>
    </div>
    <div id="menu_direito" class="menu_lateral">
        <button id="startButton"><img src="" id="imagem_do_botao_de_play" alt=""></button>
    </div>
    

    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>